.container {
  margin: 0 auto;
  width: 1200px;
  background-color: antiquewhite;
}

.font {
  font-size: 24px;
  line-height: 1.5em;
  font-family: Arial, sans-serif;
}

.line {
  height: 2px;
  background-color: #bbb0d8;
}

.card {
  padding: 10px 0 20px 0;
}

.card__text {
  text-align: center;
}

.card__img {
  text-align: center;
  height: 250px;
}

.card__img img {
  height: 100%;
}

.font h1 {
  font-size: 2em;
}

.font h2 {
  font-size: 1.5em;
}

@media (max-width: 912px) {
  .container {
    width: 800px;
  }

  .font {
    font-size: 18px;
  }

  .card {
    padding: 5px 0 10px 0;
  }

  .card__img {
    height: 170px;
  }

}

@media (max-width: 412px) {
  .container {
    width: 100%;
  }

  .font {
    font-size: 16px;
  }

  .card {
    padding: 2px 0 5px 0;
  }

  .card__img {
    height: 200px;
  }

}
